.search-modal-con {
	position: relative;
	height: 750px;
	width: 600px;
}

.search-modal-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: calc(100% - 10px);
	height: 40px;
	color: rgb(134, 144, 156);
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
}

.search-modal-icon {
	font-size: 20px;
}

.search-modal-input {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 16px;
	outline: none;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

.search-modal-footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #ccc;
	height: 30px;
	width: 100%;
	line-height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
}

.search-modal-footer-select {
	transform: rotate(90deg);
}

.search-modal-footer-enter {
	/*transform: scaleY(-1);*/
	width: 15px;
	height: 15px;
}

.notification-dot {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	/*background-color: red;*/
	background-color: #f76560;
	border: 1px solid white;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}
