
.recruitment-con_style {
    height: calc(100% - 70px);
}

.recruitment-container{
    width:95%;
    max-width:600px;
    /*background-color: chartreuse;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}