.menu-side{
    height: calc(100vh - 58px) !important;
}

.menu-lower{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.function-area{
    width: 100%;
    height: calc(100vh - 58px);
    overflow-y: auto;
    background-color: #f8f9fa;
    box-sizing: border-box;
    /*padding: 20px 15%;*/
}

.top-menu{
    display: flex;
    flex-direction: row;
}
