.pre-screening-table-con{
    background-color: #fff;
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

/**
style={{
            height: "100vh", display: "flex", flexDirection: "column",
            justifyContent: "space-between"
        }}

 */

.pre-screening-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 15px);
    background-color: #fff;
    margin: 5px;
    width: calc(100% - 15px);
    border: 1px solid rgb(229, 230, 235);
}

.pre_screening-download-btn{
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .pre-screening-table-con{
        margin: 0;
        width: 100%;
        height: 100%;
    }
}

