.setting-modal{
    padding: 0;
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    max-height:715px;
    max-width: 1150px;
    border-radius: 5px;
}


.setting-modal-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-radius: 5px;
}
.setting-modal-con-left{
    width: 240px;
    max-height:715px;
    height: calc(100vh - 150px);
    background-color:#F2F3F5;
    border-radius: 5px 0 0 5px;
    overflow-y: auto;
}

.setting-modal-con-right{
    width: calc(100% - 240px);
    max-height:715px;
    height: calc(100vh - 150px);
    background-color: #FFFFFF;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 36px 60px;
}

.setting-modal-left-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    /*border-bottom: 1px solid #E4E6E8;*/
}

.setting-modal-tab-con{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 0;
}

.setting-modal-tab-con:hover{
    cursor: pointer;
    background-color:#C9CDD4;
}

.setting-modal-tab-con svg{
    font-size: 20px;
}

.setting-modal-tab-con div{
    font-size: 14px;
    margin-left: 10px;
}

.setting-modal-account-profile{
    display: flex;
    margin-bottom: 40px;
}

.setting-modal-account-security{
    margin-bottom: 40px;
    /*display: flex;*/
    /*margin-bottom: 50px;*/
}

.setting-modal-account-support-left-icon{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.setting-modal-account-support-left-icon:hover{
    border-radius: 4px;
    background-color: #efefef;
    transition: 0.2s;
}

.display-flex-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting-desc-text-grey{
   color: rgba(55, 53, 47, 0.65);
    font-size: 12px;
}