body{
  margin: 0;
    padding: 0;
  overflow: hidden;
}


.app-component{
    margin: 10px 15px 0 15px;
    width: calc(100% - 30px);
    background-color: #fff;
    border-radius: 5px;
}

.full-screen-app-component{
    height: calc(100% - 70px);
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
}