body{
  margin: 0;
    padding: 0;
  overflow: hidden;
}


.app-component{
    margin: 10px 15px 0 15px;
    width: calc(100% - 30px);
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.full-screen-app-component{
    height: calc(100% - 70px);
    overflow: auto;
}

.full-screen-app-component-con{
    position: relative;
}

.full-screen-app-component::-webkit-scrollbar {
    width: 6px;
}

.full-screen-app-component::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

.full-screen-app-component::-webkit-scrollbar-thumb {
    background: #40a0ff49;
    border-radius: 10px;
}

.full-screen-app-component::-webkit-scrollbar-thumb:hover {
    background: #40a0ff;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
}


.arco-steps-item-description{
    /*#*/
    word-wrap:break-word !important;
    width: 400px !important;
}
