.breadcrumb-con {
	margin: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.breadcrumb-con-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.breadcrumb-icon-file {
	font-size: 16px;
	color: rgb(134, 144, 156);
	cursor: pointer;
	position: absolute;
	bottom: 4px;
	right: 4px;
}

.breadcrumb-icon-file-con {
	/*background-color: #000;*/
	margin-left: 19px;
	width: 24px;
	height: 24px;
	/*line-height: 20px;*/
	text-align: center;
	position: relative;
	border-radius: 2px;
	top: 5px;
}

.breadcrumb-icon-file-con:hover {
	background-color: rgb(242, 243, 245);
}
